!!! XML
!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Embedded Erlang &mdash; News
    = `haml head.haml`
  %body
    #mainframe
      = `haml header.haml`
      = `haml menu.haml`

      .content
        %h1 News

        - Dir["news/*.haml"].reverse.each do |file|
          - file =~ /.*\/(.*).haml/
          - date = $1
          - if Date.parse(date) <= Date.today
            %h2= date
            .newsbox
              = `haml #{file}`

      = `haml footer.haml`
