!!! XML
!!!

%html

  #mainframe

    = `haml header.haml`

    = `haml menu.haml`

    .content
      %h1 News

      - Dir["news/*.haml"].reverse.each do |file|
        - file =~ /.*\/(.*).haml/
        - date = $1
        .newsbox
          %h2= date
          = `haml #{file}`

    = `haml footer.haml`
